nav{
	background: black;
	opacity: 0.5
}

#trilogy_logo{
	padding-left: 130px;
}

#text{
	color: white;
	font-family: 'Roboto', sans-serif;
}

#hero{
	background-image: url("../assets/code_hero.jpg");
	background-size: 100%;
	margin-bottom: 0px;
	padding-top: 0px;
	padding-left: 0px;
	padding-right: 0px;
}

#hero-text{
	color: white;
	font-family: 'Roboto Slab', serif;
}

#hero-text-2{
	color: white;
	font-family: 'Roboto Slab', serif;
	text-align:right;
}


#coding{
	font-family: 'Roboto Slab', serif;
	color: #38bcbd;
}
#featuring-text{
	color: white;
	text-decoration: underline;
	text-align: center;
	font-family: 'Roboto', sans-serif;
	font-size: 40px;
}
#feature{
	background-image: url("../assets/featuring.jpg");
	background-size: 100%;
	margin-bottom: 0px;
	padding-top: 0px;
	padding-left: 0px;
	padding-right: 0px;
}

/*data coding, benefits, time and project images*/
#data_coding, #benefit, #time, #project{
	height: 100px;
	width: 100px;
	align-items: center;
	display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#data_coding_text, #benefit_text, #time_text, #project_text{
	text-align: center;
	color: white;
	font-family: 'Roboto', sans-serif;
}

#phone{
	height: 500px;
	width: 300px;
}

#sub-text{
	text-align: center;
	color: white;
	font-family: 'Roboto Slab', serif;
}

#story{
	background-image: url("../assets/about.jpg");
	background-size: 100%;
	margin-bottom: 0px;
	padding-top: 0px;
	padding-left: 0px;
	padding-right: 0px;
}

#story_title{
	color: #38bcbd;
	text-align: center;
	text-decoration: underline;
}

#story_text{
	color: white;
	text-align: center;
	font-family: 'Roboto', sans-serif;
}

#questions{
	background-image: url("../assets/faq.jpg");
	background-size: 100%;
	margin-bottom: 0px;
	padding-top: 0px;
	padding-left: 0px;
	padding-right: 0px;
}

#questions_title{
	color: black;
	text-decoration: underline;
	font-family: 'Roboto', sans-serif;
}